<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meghna.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".tw1_1act" />
        <activity android:name=".Main3Activity">

        </activity>
        <activity android:name=".TRY_mode" />
        <activity android:name=".Display_Employee" />
        <activity android:name=".Trying_list_image" />
        <activity android:name=".Try_image_button_view" />
        <activity android:name=".Display_Image" />
        <activity android:name=".Try_autocompleteview" />
        <activity android:name=".try_multiautocompleteview" />
        <activity android:name=".try_simple_menu" />
        <activity android:name=".try_context_menu" />
        <activity android:name=".Try_date_time" />
        <activity android:name=".try_fragement"></activity>
        <activity android:name=".try_activity_dialog_box" />
        <activity android:name=".Try_recycler_view"></activity>
        <activity android:name=".chronometer_timer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>